name: AccuKnox IaC Scan Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Run IaC scan
        uses: accuknox/iac-scan-action@latest
        with:
          directory: "."                            # Optional: Directory to scan
          compact: true                             # Optional: Minimise output
          quiet: true                               # Optional: Show only failed checks
          output_format: json                       # Optional: Format of output
          output_file_path: "./results.json"        # Optional: Output file path
          soft_fail: true                           # Optional: Will continue after found vulnerability 
          accuknox_token: ${{ secrets.TOKEN }}
          accuknox_endpoint: ${{ secrets.ENDPOINT }}
          accuknox_label: ${{ secrets.LABEL }}
